<p id="notice"><%= notice %></p>

<h1>The Frogs</h1>
<h2>You'll find them ribbeting</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frogs.each do |frog| %>
      <tr>
        <td><%= frog.name %></td>
        <td><%= frog.description %></td>
        <td><%= frog.updated_at.to_s(:db) %></td>
        <td><%= link_to 'Show', frog %></td>
        <td><%= link_to 'Edit', edit_frog_path(frog) %></td>
        <td><%= link_to 'Destroy', frog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Frog', new_frog_path %>
